body {
	background-color: #F9FAFB
}
.graph {
	width: 95vw;
	height: 95vh;
}
div.smoothie-chart-tooltip {
	background: #666;
	padding: 1em;
	margin-top: 20px;
	font-family: helvetica;
	color: white;
	font-size: 10px;
	pointer-events: none;
}
